<% episode = Episode.new(current_page) %>

<% wrap_layout :layout do %>
  <div class="row">
    <div class="small-12 columns">
      <%= partial "next-class" %>
    </div>
  </div>

  <div class="row">
    <h2 class="large-2 show-for-large-up columns episode_number">
      <small>#</small><%= episode.number %>
    </h2>
    <h2 class="small-12 large-10 columns">
      <span class="episode_number">
        <small>#</small><%= episode.number %>
      </span>
      <%= current_page.title %>
    </h2>
  </div>

  <div class="row date-and-tags">
    <div class="video-tags small-9 large-10 large-push-2 columns">
      <% if current_page.tags.size > 0 %>
        Tagged with:
        <%= link_to_article_tags(current_page) %>
      <% else %>
        Untagged.
      <% end %>
    </div>
    <time class="pubdate small-3 large-2 large-pull-10 columns"pubdate="pubdate" datetime="<%= current_page.date.strftime('%Y-%m-%e') %>">
      <%= current_page.date.strftime('%b %e, %Y') %>
    </time>
  </div>

  <div class="row">
    <div class="small-12 large-10 large-offset-2 columns">
      <div data-swiftype-index="true">
        <%= current_page.summary %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-12 large-10 large-offset-2 columns">

      <div class="video_wrapper">
        <video poster="<%= episode.poster_url %>"
          controls="controls" preload="none" class="placeholder"
          id="episode_<%= episode.number %>_placeholder">
          <source src="<%= episode.ogg.url %>" type="video/ogg" />
          <source src="<%= episode.quicktime.url %>" type="video/x-m4v" />
        </video>
      </div>

      <aside class="downloads">

        <ul class="inline-list">
          <li>Download: </li>
          <li class="ogg">
            <a href="<%= episode.ogg.url %>">OGG</a>
            <span class="stats"><%= number_to_human_size(episode.ogg.size) %></span>
          </li>
          <li class="quicktime">
            <a href="<%= episode.quicktime.url %>">Quicktime</a>
            <span class="stats"><%= number_to_human_size(episode.quicktime.size) %></span>
          </li>
        </ul>
        <div class="video-duration">
          <%# http://wiki.whatwg.org/wiki/Time_element#duration %>
          Run time: <time datetime="<%= episode.running_datetime %>">
            <%= episode.running_time %>
          </time>
        </div>

        <p>
          View a <%= link_to 'transcript of the video',
          transcript_for_episode(episode.number) %>.
        </p>

      </aside>
    </div>
  </div>

  <div class="row">
    <div class="small-12 large-10 large-offset-2 columns">
      <dl class="accordion" data-accordion>
        <dd>
        <a href="#shownotes">Shownotes</a>
        <div id="shownotes" class="content" data-swiftype-index="true">
          <%= extended_article(current_page) %>
        </div>
        </dd>
        <dd>
        <a href="#comments">Comments</a>
        <div id="comments" class="content">
          <%= partial "disqus" %>
        </div>
        </dd>
      </dl>
    </div>
  </div>

  <div class="row">
    <div class="small-12 large-10 large-offset-2 columns">
      <div>
        <%= partial "social-sharing-buttons",
          :locals => locals.merge(label: "Like this video? Spread the word!") %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <%= partial "related-content", :locals => locals %>
      <%= partial "footer-main" %>
    </div>
  </div>


<% end %>

