<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || yield_content(:title) %></title>

    <%= stylesheet_link_tag "app", "style" %>
    <%= javascript_include_tag "modernizr" %>
  </head>

  <body class="<%= page_classes %>">

  <div class="off-canvas-wrap">
    <div class="inner-wrap">
      <nav class="tab-bar">
        <section class="left-small">
          <a class="left-off-canvas-toggle menu-icon" ><span></span></a>
        </section>

        <section class="middle tab-bar-section"></section>
      </nav>

      <aside class="left-off-canvas-menu">
        <ul class="off-canvas-list">
          <li><label>Foundation</label></li>
          <li><%= link_to "Home", "/" %></li>
          <li><%= link_to "Episodes", "/episodes" %></li>
          <li><%= link_to "Blog", "/blog" %></li>
          <li><%= link_to "Training", "/training" %></li>
          <li><%= link_to "Publications", "/publications" %></li>
          <li>
          <form>
            <label text="search">Search: <input type="search"/></label>
          </form>
          </li>
        </ul>
      </aside>

      <section class="main-section">

        <div class="row identity-row">
          <div id="logo" class="small-4 columns">
            <h1>
              <% if current_page.url == "/" %>
                <span>VimCasts.org</span>
              <% else %>
                <a href="/" title="Go to Vimcasts.org homepage">VimCasts.org</a>
              <% end %>
            </h1>
          </div>
          <div class="small-7 small-offset-1 columns">
            <span class="show-for-small-only">Free screencasts about Vim, with Drew Neil</span>
            <span class="show-for-medium-up">
              Vimcasts publishes free screencasts about the text editor Vim.
              The site is run by Drew Neil, author of Practical Vim.
            </span>
          </div>
        </div>

        <%= yield %>
      </section>

      <a class="exit-off-canvas"></a>

    </div>
  </div>


    <%= javascript_include_tag  "all" %>
  </body>
</html>
