<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || yield_content(:title) %></title>

    <%= stylesheet_link_tag "app", "style" %>
    <%= javascript_include_tag "modernizr" %>
  </head>

  <body class="<%= page_classes %>">

  <div class="off-canvas-wrap">
    <div class="inner-wrap">

      <div class="row">
        <nav class="top-bar show-for-large-up" data-topbar>
          <ul class="title-area">
            <li class="name">
            <h1><a href="/">Vimcasts</a></h1>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
          </ul>

          <section class="top-bar-section">
            <!-- Right Nav Section -->
            <ul class="right">
              <li class="has-form">
              <div class="row collapse">
                <div class="large-8 small-9 columns">
                  <input type="text" placeholder="Explore archives">
                </div>
                <div class="large-4 small-3 columns">
                  <a href="#" class="alert button expand">Search</a>
                </div>
              </div>
              </li>
            </ul>

            <!-- Left Nav Section -->
            <ul class="left">
              <li><%= link_to "Episodes", "/categories" %></li>
              <li><%= link_to "Blog", "/blog" %></li>
              <li><%= link_to "Training", "/training" %></li>
              <li><%= link_to "Publications", "/publications" %></li>
            </ul>
          </section>
        </nav>
      </div>

      <nav class="tab-bar hide-for-large-up">
        <section class="left-small">
          <a class="left-off-canvas-toggle menu-icon" ><span></span></a>
        </section>

        <section class="middle tab-bar-section"></section>
      </nav>

      <aside class="left-off-canvas-menu">
        <ul class="off-canvas-list">
          <li><label>Vimcasts</label></li>
          <li><%= link_to "Home", "/" %></li>
          <li><%= link_to "Episodes", "/episodes" %></li>
          <li><%= link_to "Blog", "/blog" %></li>
          <li><%= link_to "Training", "/training" %></li>
          <li><%= link_to "Publications", "/publications" %></li>
          <li>
          <form>
            <label text="search">Search: <input type="search" disabled/></label>
          </form>
          </li>
        </ul>
      </aside>

      <section class="main-section">

        <div class="row identity-row">
          <div id="logo" class="small-4 columns">
            <h1>
              <% if current_page.url == "/" %>
                <span>VimCasts.org</span>
              <% else %>
                <a href="/" title="Go to Vimcasts.org homepage">VimCasts.org</a>
              <% end %>
            </h1>
          </div>
          <div class="small-7 small-offset-1 columns">
            <% if content_for?(:header) %>
              <%= yield_content :header %>
            <% else %>
            <h4 class="show-for-small-only text-right">
              Free Vim screencasts<br/>
              <small>with Drew Neil</small>
            </h4>
            <h4 class="show-for-medium-up text-right">
              Free Vim screencasts<br/>
              <small>with Drew Neil, author of <a href="http://pragprog.com/book/dnvim/practical-vim">Practical Vim</a></small>
            </h4>
            <% end %>
          </div>
        </div>

        <%= yield %>
      </section>

      <a class="exit-off-canvas"></a>

    </div>
  </div>


    <%= javascript_include_tag  "all" %>
  </body>
</html>
