<% current_tag ||= :not_specified %>
<% episode = Episode.new(article) if article.data.duration %>

<section class="<%= article_type(article) %>">

  <div class="title-row">
    <h3 class="title">
      <%= link_to article.title, article %>
    </h3>
    <% if episode %>
      <h3 class="episode_number">
        <small>#</small><%= article.data.number %>
      </h3>
    <% else %>
      <time class="pubdate" pubdate="pubdate" datetime="<%= article.date.strftime('%Y-%m-%e') %>">
        <%= format_pubdate(article) %>
      </time>
    <% end %>
  </div>

  <% if article.data.duration %>
    <% episode = Episode.new(article) %>
    <div class="pubdate-row">

      <div class="video-tags">
        <%# http://wiki.whatwg.org/wiki/Time_element#duration %>
        Run time: <time datetime="<%= episode.running_datetime %>">
          <%= episode.running_time %>
        </time>
      </div>

      <time class="pubdate" pubdate="pubdate" datetime="<%= article.date.strftime('%Y-%m-%e') %>">
        <%= format_pubdate(article) %>
      </time>

    </div>
  <% end %>

  <div class="summary-row">
    <div class="episode_summary">
      <%= article.summary %>

      <% if readmore = continue?(article) %>
        <%= link_to readmore, article, class: 'readmore' %>
      <% end %>

    </div>
  </div>

</section>
