<% current_tag ||= :not_specified %>
<% episode = Episode.new(article) if article.data.duration %>

<section class="<%= article_type(article) %>">

  <div class="title-row">
    <h3 class="title">
      <%= link_to article.title, article %>
    </h3>
    <% if episode %>
      <h3 class="episode_number">
        <small>#</small><%= article.data.number %>
      </h3>
    <% else %>
      <time class="pubdate" pubdate="pubdate" datetime="<%= article.date.strftime('%Y-%m-%e') %>">
        <%= format_pubdate(article) %>
      </time>
    <% end %>
  </div>

  <% if episode %>
    <%= partial 'pubdate-row', locals: {episode: episode, article: article} %>
  <% end %>

  <div class="summary-row">
    <div class="episode_summary">
      <%= article.summary %>

      <% if readmore = continue?(article) %>
        <%= link_to readmore, article, class: 'readmore' %>
      <% end %>

    </div>
  </div>

</section>
