<% current_tag ||= :not_specified %>
<% episode = Episode.new(article) if article.data.duration %>

<section class="<%= article_type(article) %>">

  <div class="row name-and-number">
    <% if episode %>
      <h3 class="episode_number small-2 small-push-10 large-2 large-reset-order columns">
        <small>#</small><%= article.data.number %>
      </h3>
    <% else %>
      <time class="pubdate small-2 small-push-10 large-2 large-reset-order columns" pubdate="pubdate" datetime="<%= article.date.strftime('%Y-%m-%e') %>">
        <%= article.date.strftime('%b %e, %Y') %>
      </time>
    <% end %>
    <h3 class="small-10 small-pull-2 large-10 large-reset-order columns">
      <%= link_to article.title, article %>
    </h3>
  </div>

  <% if article.data.duration %>
    <% episode = Episode.new(article) %>
    <div class="row date-and-tags">

      <div class="video-tags small-9 large-10 large-push-2 columns">
        <%# http://wiki.whatwg.org/wiki/Time_element#duration %>
        Run time: <time datetime="<%= episode.running_datetime %>">
          <%= episode.running_time %>
        </time>
      </div>

      <time class="pubdate small-3 large-2 large-pull-10 columns" pubdate="pubdate" datetime="<%= article.date.strftime('%Y-%m-%e') %>">
        <%= article.date.strftime('%b %e, %Y') %>
      </time>

    </div>
  <% end %>

  <div class="row date-and-tags">
    <div class="small-12 large-8 large-offset-2 columns">
      <%= article.summary %>

      <% if readmore = continue?(article) %>
        <%= link_to readmore, article, class: 'readmore' %>
      <% end %>

    </div>
  </div>

</section>
