<% current_tag ||= :not_specified %>

<section class="<%= article_type(article) %>">
  <h3><%= link_to article.title, article %></h3>

  <span><%= article.date.strftime('%b %e, %Y') %></span>

  <% if article.data.duration %>
    <% episode = Episode.new(article) %>
    <div class="video-duration">
      <%# http://wiki.whatwg.org/wiki/Time_element#duration %>
      Run time: <time datetime="<%= episode.running_datetime %>">
        <%= episode.running_time %>
      </time>
    </div>
  <% end %>

  <% if article.data.number %>
    <div class="episode_number">
      <small>#</small><%= article.data.number %>
    </div>
  <% end %>

<span class="article-type">
  <%= article_type(article) %>
</span>

<% if article.tags.size > 0 %>
  <div class="article-tags">
    <p>
    <% if current_tag == :not_specified %>
      Tagged with:
      <%= link_to_article_tags(article) %>
    <% elsif article.tags.size > 1 %>
      Also tagged with:
      <%= link_to_article_tags(article, Array(current_tag)) %>
    <% end %>
    </p>
  </div>
<% end %>

<%= article.summary %>

<% if readmore = continue?(article) %>
  <%= link_to readmore, article %>
<% end %>

</section>
