<li class="has-dropdown">
  <%= link_to "Browse Vimcasts", "/categories" %>
  <ul class="dropdown">
    <li><%= link_to "Latest episodes", "/episodes" %></li>
    <li><%= link_to "Latest articles", "/blog" %></li>
  </ul>
</li>
<li><%= link_to "Training", "/training" %></li>
<li><%= link_to "Publications", "/publications" %></li>

