<li><%= link_to "Browse Vimcasts", "/categories" %></li>
<li class="has-dropdown">
  <%= link_to "Recent", "/episodes" %>
  <ul class="dropdown">
    <li><%= link_to "Episodes", "/episodes" %></li>
    <li><%= link_to "Articles", "/blog" %></li>
  </ul>
</li>

<li><%= link_to "Training", "/training" %></li>
<li><%= link_to "Publications", "/publications" %></li>
