<li>
  <strong class="video-duration">
    <%# http://wiki.whatwg.org/wiki/Time_element#duration %>
    Run time:
    <time datetime="<%= episode.running_datetime %>">
      <%= episode.running_time %>
    </time>
  </strong>
</li>

<li><label>Download</label></li>

<li class="ogg">
  <a href="<%= episode.ogg.url %>">OGG</a>
  <span class="stats"><%= number_to_human_size(episode.ogg.size) %></span>
</li>

<li class="quicktime">
  <a href="<%= episode.quicktime.url %>">Quicktime</a>
  <span class="stats"><%= number_to_human_size(episode.quicktime.size) %></span>
</li>

<li class="divider"></li>

<li>
  <%= link_to 'Read transcript', transcript_for_episode(episode.number) %>
</li>
