<%= partial "next-class" %>

<div class="row search-the-archives">
  <div class="small-12 large-6 columns">

    <h2>Search the archives</h2>
    <form>
      <label text="search">Search: <input type="search" disabled/></label>
    </form>

  </div>
</div>

<div class="row explore-the-archives">
  <div class="small-12 columns">
    <h2>Find by category</h2>

    <p>
    Vimcasts contains
    <% link_to "/episodes/archive" do %>
      <%= blog(:episodes).articles.count %> free screencasts
    <% end %>
    and <%= blog(:blog).articles.count %> articles.
    Browse <a href="/episodes">recent screencasts</a>,
    read <a href="/blog">latest articles</a>,
    or browse by category:
    </p>


<dl class="tabs" data-tab>
  <dd class="active"><a href="#panel2-1">Most first</a></dd>
  <dd><a href="#panel2-2">Alphabetical</a></dd>
</dl>
<div class="tabs-content">
  <div class="content active" id="panel2-1">
    <ul class="category-list small-block-grid-2 medium-block-grid-3 large-block-grid-5">
      <% data.categories.each do |tag| %>
        <li>
          <% link_to "/categories/#{tag[:name]}" do %>
            <h4><%= tag[:name] %></h4>
            <p>
              <%= tag_stats(tag) %>
            </p>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="content" id="panel2-2">
    <ul class="category-list small-block-grid-2 medium-block-grid-3 large-block-grid-5">
      <% data.categories.sort_by { |k| k["name"] }.each do |tag| %>
        <li>
          <% link_to "/categories/#{tag[:name]}" do %>
            <h4><%= tag[:name] %></h4>
            <p>
              <%= tag_stats(tag) %>
            </p>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

  </div>
</div>

<%= partial "footer-main" %>
