---
searchfeature: true
---

<div class="row search-the-archives">
  <div class="small-12 large-6 columns">

    <h2>Search the archives</h2>
    <%= partial 'search-form' %>

  </div>
</div>

<div class="row explore-the-archives">
  <div class="small-12 columns">
    <h2>Find by category</h2>

    <p>
    Vimcasts contains
    <%= blog(:episodes).articles.count %> free screencasts
    and <%= blog(:blog).articles.count %> articles.
    View <a href="/episodes/archive">all screencasts by publication date</a>,
    or use this listing to browse by category:
    </p>

    <%= partial 'category-list-item',
      locals: {items: data.categories.sort_by { |k| k["name"].downcase }} %>

  </div>
</div>

<%= partial "footer-main" %>
