---
title: Episode archive
blog: episodes
---

<div class="row">
  <div class="small-12 columns">

    <h1>All Vimcasts episodes</h1>

    <p>
    Vimcasts contains
    <a href="/blog"><%= blog(:blog).articles.count %> articles</a>
    and
    <%= blog(:episodes).articles.count %> free screencasts.
    <a href="/categories">Browse all content by category.</a>
    </p>

    <section id="archive">
      <% blog(:episodes).articles.group_by {|a| {year: a.date.year, month: a.date.strftime("%B")} }.each do |date, episodes| %>
        <h3 class="archive"><%= date[:month] %> <%= date[:year] %></h3>
        <% episodes.each do |page| %>
        <% episode = Episode.new(page) %>
          <div>
            <span class="episode_number"><small>#</small><%= episode.number %></span>
            <% link_to page, class: 'archive' do %>
              <%= page.title %>
              <span>(<%= episode.running_time %>)</span>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </section>

</div>
</div>

