---
title: Episode archive
blog: episodes
---

<div class="archive-intro">

  <h1>All Vimcasts episodes</h1>

  <p>
    Vimcasts contains
    <a href="/blog"><%= blog(:blog).articles.count %> articles</a>
    and
    <%= blog(:episodes).articles.count %> free screencasts.
    <a href="/categories">Browse all content by category.</a>
  </p>

</div>

<section id="archive">
  <% episode_archive_listing.each do |date, episodes| %>

    <div class="archive-month">
      <h3><%= date[:month] %> <%= date[:year] %></h3>
    </div>

    <% episodes.each do |page| %>
    <% episode = Episode.new(page) %>

      <div class="episode-archive-item">

        <div class="episode_number">
          <span><small>#</small><%= episode.number %></span>
        </div>

        <div class="episode_title">
          <% link_to page, class: 'archive' do %>
            <%= page.title %>
            <small>(<%= episode.running_time %>)</small>
          <% end %>
        </div>

      </div>
    <% end %>

  <% end %>
</section>

<%= partial "footer-main" %>
