---
title: Vimcasts - Free screencasts about the text editor Vim
---


<div class="row">
  <div class="small-12 column">
    <div class="panel">
      <%
          now = Date.today
          # now = Date.parse("2014-02-20")
          # now = Date.parse("2014-03-20")
      %>
      <%= announcement "next-class", now %>
    </div>
  </div>
</div>

<div class="row">

  <div class="small-12 large-6 columns">
    <h2>Search the archives</h2>
    <form>
      <label text="search">Search: <input type="search"/></label>
    </form>
  </div>

  <div class="small-12 large-6 columns">
    <h2>Find by category</h2>
    <p>
    Vimcasts contains
    <%= blog(:episodes).articles.count %> free screencasts and
    <%# TODO: exclude expired promotion blog posts from count %>
    <%= blog(:blog).articles.count %> articles.
      <a href="/categories">Browse all content by category</a>.
  </p>
  </div>

</div>

<div class="row">
  <div class="small-12 large-6 columns">
    <h2>Watch latest episode</h2>
    <% latest = blog(:episodes).articles.first %>
    <h3><%= link_to latest.title, latest.path %></h3>
    <%= latest.summary %>
  </div>

  <div class="small-12 large-6 columns">
    <h2>Read latest article</h2>
    <% latest = blog(:blog).articles.first %>
    <h3><%= link_to latest.title, latest.path %></h3>
    <%= latest.summary %>
  </div>

</div>

<div class="row">

  <hr/>

  <div class="small-12 columns">
    <h1>Level up your Vim</h1>
  </div>

  <div class="small-12 medium-12 large-4 columns">
    <h2>training</h2>
    <ul class="no-bullet">
      <li><a href="/classes/core-vim">Core Vim Class</a></li>
    </ul>
  </div>

  <div class="small-12 medium-6 large-4 columns">
    <h2>publications</h2>
    <ul class="no-bullet">
      <li><a href="http://pragprog.com/book/dnvim/practical-vim">Practical Vim</a></li>
    </ul>
  </div>

  <div class="small-12 medium-6 large-4 columns">
    <h2>pro-screencasts</h2>
    <ul class="no-bullet">
      <li><a href="https://learn.thoughtbot.com/products/21-navigating-ruby-files-with-vim">Navigating ruby files with Vim</a></li>
    </ul>
  </div>

</div>

<div class="row">

  <hr/>

  <div class="small-6 columns">
    <ul class="inline-list">
      <li><a href="/about">About</a></li>
      <li><a href="/subscribe">Subscribe</a></li>
      <li><a href="/tipjar">Leave a tip</a></li>
    </ul>
  </div>

  <div class="small-6 columns">
    <p class="text-right">
      Vimcasts.org established MMX
    </p>
  </div>

</div>
