---
title: Vimcasts - Free screencasts about the text editor Vim
searchfeature: true
---

<%= partial "next-class" %>

<div class="explore-the-archives">

  <div class="find-by-category">
    <h2>Find by category</h2>
    <p>
    Vimcasts contains
    <%= blog(:episodes).articles.count %> free screencasts and
    <%= blog(:blog).articles.count %> articles.
      <a href="/categories">Browse all content by category</a>.
  </p>
  </div>

  <div class="search-the-archives">
    <h2>Search the archives</h2>
    <%= partial 'search-form' %>
  </div>

</div>

<div class="latest-content">
  <hr/>

  <div class="latest-screencast">
    <h2 class="metaheader">Watch latest screencast</h2>
    <%= partial "article-listing",
      :locals => {article: blog(:episodes).articles.first } %>
  </div>

  <div class="latest-article">
    <h2 class="metaheader">Read latest article</h2>
    <%= partial "article-listing",
      :locals => {article: blog(:blog).articles.first } %>
  </div>

</div>

<%= partial 'self-promotion' %>

<%= partial "footer-main" %>
