---
title: Vimcasts - Free screencasts about the text editor Vim
searchfeature: true
---

<% content_for :header do;end %>

<%= partial "next-class" %>

<div class="why-am-i-here">

  <div class="strapline">
    <h2>
      Learn Essential Vim Skills<br/>
      <small><a href="/about/">with Drew Neil, author of Practical&nbsp;Vim</a></small>
    </h2>
  </div>

  <div class="explore-the-archives">
    <div class="metaheader">
      <h2>Explore the archives</h2>
    </div>
    <p>
      Vimcasts contains
      <%= blog(:episodes).articles.count %> free screencasts and
      <%= blog(:blog).articles.count %> articles.
      Browse <a href="/categories">all content by category</a>, or
      view <a href="/episodes/archive">all screencasts by publication date</a>.
    </p>
    <%= partial 'search-form' %>
  </div>

</div>

<div class="latest-content">
  <hr/>

  <div class="latest-screencast">
    <div class="metaheader">
      <h2>Watch latest screencast</h2>
    </div>
    <%= partial "article-listing",
      :locals => {article: blog(:episodes).articles.first } %>
  </div>

  <div class="latest-article">
    <div class="metaheader">
      <h2>Read latest article</h2>
    </div>
    <%= partial "article-listing",
      :locals => {article: blog(:blog).articles.first } %>
  </div>

</div>

<%= partial 'self-promotion' %>

<%= partial "footer-main" %>
