---
title: Vimcasts - Free screencasts about the text editor Vim
searchfeature: true
---

<%= partial "next-class" %>

<div class="row explore-the-archives">

  <div class="small-12 large-6 columns">
    <h2>Find by category</h2>
    <p>
    Vimcasts contains
    <%= blog(:episodes).articles.count %> free screencasts and
    <%= blog(:blog).articles.count %> articles.
      <a href="/categories">Browse all content by category</a>.
  </p>
  </div>

  <div class="small-12 large-6 columns">
    <h2>Search the archives</h2>
    <%= partial 'search-form' %>
  </div>

</div>

<div class="row latest-content">
  <hr/>

  <div class="small-12 large-6 columns">
    <h2>Watch latest screencast</h2>
    <%= partial "article-listing",
      :locals => {article: blog(:episodes).articles.first } %>
  </div>

  <div class="small-12 large-6 columns">
    <h2>Read latest article</h2>
    <%= partial "article-listing",
      :locals => {article: blog(:blog).articles.first } %>
  </div>

</div>

<div class="row">

  <hr/>

  <%= partial 'self-promotion' %>

</div>

<%= partial "footer-main" %>
