---
title: Vimcasts - Free screencasts about the text editor Vim
---

<%= partial "next-class" %>

<div class="row explore-the-archives">

  <div class="small-12 large-6 columns">
    <h2>Search the archives</h2>
    <form>
      <label text="search">Search: <input type="search" disabled/></label>
    </form>
  </div>

  <div class="small-12 large-6 columns">
    <h2>Find by category</h2>
    <p>
    Vimcasts contains
    <%= blog(:episodes).articles.count %> free screencasts and
    <%# TODO: exclude expired promotion blog posts from count %>
    <%= blog(:blog).articles.count %> articles.
      <a href="/categories">Browse all content by category</a>.
  </p>
  </div>

</div>

<div class="row latest-content">
  <hr/>

  <div class="small-12 large-6 columns">
    <h2>Watch latest episode</h2>
    <% latest = blog(:episodes).articles.first %>
    <h3><%= link_to latest.title, latest.path %></h3>
    <%= latest.summary %>
  </div>

  <div class="small-12 large-6 columns">
    <h2>Read latest article</h2>
    <% latest = blog(:blog).articles.first %>
    <h3><%= link_to latest.title, latest.path %></h3>
    <%= latest.summary %>
  </div>

</div>

<div class="row">

  <hr/>

  <div class="small-12 columns">
    <h1>Level up your Vim</h1>
  </div>

  <div class="small-12 medium-12 large-4 columns">
    <h2>Training</h2>
    <p>
      Boost your productivity with a <a href="/training">Vim training class</a>.
      Join a public class,
      or book a private session for your team.
    </p>
  </div>

  <div class="small-12 medium-6 large-4 columns">
    <h2>Publications</h2>
    <p>
      Make yourself a faster and more efficient developer with the help of <a href="/publications">these publications</a>.
    </p>
  </div>

  <div class="small-12 medium-6 large-4 columns">
    <h2>Pro-screencasts</h2>
    <p>
      In colaboration with Thoughtbot,
      Drew Neil has produced a set of pro-screencasts for Rubyists.
      <a href="https://learn.thoughtbot.com/products/21-navigating-ruby-files-with-vim">Buy them from Thoughtbot</a>.
    </p>
  </div>

</div>

<%= partial "footer-main" %>
